/* Root pseudoclass custom properties: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
/* These are some generic design choices for colour schemes, fonts, gutters and gaps */

:root {
    /* COLOR SCHEME */
    --clr-primary: #141922;
    --clr-secondary: #080B12;
    --clr-secondary-transparent: #080b1262;
    --clr-accent: #a8f82d;

    --clr-black: #000000;
    --clr-dark-grey: #282828;
    --clr-grey: #808080;
    --clr-light-grey: #D2D2D2;
    --clr-white: #FDFDFD;

    /* FONT */
    /* font: font-style font-variant font-weight font-size/line-height font-family; */
    --fontfamily-default: 'Montserrat', Helvetica, Arial, sans-serif;

    --fs-1: 5rem;
    --fs-2: 4rem;
    --fs-3: 3rem;
    --fs-4: 2rem;
    --fs-5: .7rem;
    --fs-6: .6rem;

    --fw-black: 900;
    --fw-bold: 700;
    --fw-regular: 400;
    --fw-thin: 200;
    --fw-extra-thin: 100;

    --lh-default: 1.5;

    /* SPACING */
    --flow-spacing: 1em;

    --row-gap: 1rem;
    --column-gap: 1.5rem;

    --large-gap: 3rem;
    --gap: 1.5rem;
    --small-gap: .6rem;
    
    --content-width: 100%; 

    --sm-breakpoint: 576px;
    --md-breakpoint: 768px;
    --lg-breakpoint: 992px;
    --xl-breakpoint: 1200px;
    --xxl-breakpoint: 1400px;
}

body {
    font: var(--fw-regular) var(--fs-5)/var(--lh-default) var(--fontfamily-default);
    color: var(--clr-white);
}

/* CUSTOM PROPERTY DEFAULTS */
/*#region: COLORS  */
.bg-primary { background-color: var(--clr-primary); }

.bg-secondary { background-color: var(--clr-secondary); }

.bg-black { background-color: var(--clr-black);}

.bg-dark { background-color: var(--clr-dark-grey);}

.bg-grey { background-color: var(--clr-grey);}

.bg-light-grey { background-color: var(--clr-light-grey);}

.bg-light { background-color: var(--clr-white);}

.bg-transparent { background-color: transparent;}
/*#endregion : COLORS */

/*#region : text */
.text-light { color: var(--clr-white);}
.text-light-grey { color: var(--clr-light-grey);}
.text-grey { color: var(--clr-grey);}

.upper-case { text-transform: uppercase;}
.t-black { font-weight: var(--fw-black);}
.t-bold { font-weight: var(--fw-bold);}
.t-thin { font-weight: var(--fw-thin);}
.t-extra-thin { font-weight: var(--fw-extra-thin);}
/*#endregion : text */
