/* ****************************************************************************** */
/*#region : ARIA */
.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/* Hidden in xs */
.d-none-xs {
    display: none;
}
/*#endregion : ARIA */
/* ****************************************************************************** */

/* ****************************************************************************** */
/*#region : HTML element layout and default */
.body-container {
    position: relative;
}

main {
    height: calc(100vh - var(--h-footer));
    margin-left: var(--w-side-bar);
    overflow: auto;
}

aside {
    position: absolute;
        top: 0;
        left: 0;
    height: 100%;
    width: var(--w-side-bar);
}

footer { 
    position: fixed;
        bottom: 0;
    height: var(--h-footer);
    width: 100%;
    overflow: hidden;
}

/*#endregion : HTML element layout and default */
/* ****************************************************************************** */


/* ****************************************************************************** */
/*#region: UTILITIES */
/* ************************** */
/*#region: flex  */
.d-flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.col {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}
/*#endregion: flex  */

/* ************************** */
/*#region collection-item */
.collection {
    gap: var(--small-gap);
}

.collection-item {
    width: var(--collection-2-cards);
    padding-bottom: var(--gap);
}
/*#endregion collection-item */

/* ************************** */
/* UI */
.ui-button {
    background-color: transparent;
    border: 2px solid var(--clr-white);
    border-radius: 100px;
}

.nav-link{
    position: relative;
    padding-bottom: .2rem;
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    border-color: var(--clr-accent);
}

.nav-link::before,
.nav-link::after {
    content: '';
    width: 25%;
    height: 4px;
    position: absolute;
        bottom: -4px;

    background-color: var(--clr-primary);
}

.nav-link::after { right: 0; }

/*#region: Progress Bar */
.meter {
    width: 100%;
    min-height: 3px;
    border: 1px solid var(--clr-light-grey);
}
/*#endregion: Progress Bar */

/*#endregion: UTILITIES */
/* ****************************************************************************** */


/* ****************************************************************************** */
/*#region: BLOCKS */

/* ************************** */
/*#region call-to-action */
.call-to-action {
    padding: var(--gap) var(--small-gap);
}
.call-to-action .ui-button {
    padding: var(--small-gap) var(--gap);
}
/*#endregion call-to-action */

/* ************************** */
/*#region main-nav */
.main-nav {
    padding: var(--small-gap);
}

.main-nav-links {
    justify-content: center;
    column-gap: var(--gap);
    row-gap: var(--gap);
}
/*#endregion main-nav*/

/* ************************** */
/*#region CONTENT */
.section-title {
    font-size: var(--fs-2);
    margin-bottom: var(--gap);
}
.main-container {
    padding: var(--gap) var(--small-gap);
}
/*#endregion CONTENT */

/*#endregion: BLOCKS */
/* ****************************************************************************** */


/* ****************************************************************************** */
@media only screen and (min-width: 576px) {
    .d-none-xs {
        display: inline;
    }

    .d-none-sm {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --w-side-bar: 20%;
    }
    
    .collection-item {
        width: var(--collection-4-cards);
    }
}

@media only screen and (min-width: 992px) {
    .collection-item {
        width: var(--collection-6-cards);
    }
}
/* ****************************************************************************** */
/*#region: DEBUG */
.debug .favourite {
    position: relative;
}
.debug .add-favourite {
    position: absolute;
    opacity: 0;
}
/*#endregion: DEBUG */
/* ****************************************************************************** */