/* ARIA */
.visually-hidden {
    position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* Hidden in xs */
.d-none-xs {
    display: none;
}

/* ****************************************************************************** */
/*#region: UTILITIES */
/*#region: flex  */
.d-flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.col {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}
/*#endregion: flex  */
/*#endregion: UTILITIES */
/* ****************************************************************************** */

/* ****************************************************************************** */
/*#region: BLOCKS */

/*#endregion: BLOCKS */
/* ****************************************************************************** */


/* ****************************************************************************** */
@media only screen and (min-width: 576px) {
    .d-none-xs {
        display: inline;
    }

    .d-none-sm {
        display: none;
    }
}

/* ****************************************************************************** */
/*#region: DEBUG */
.debug .favourite {
    position: relative;
}
.debug .add-favourite {
    position: absolute;
    opacity: 0;
}
/*#endregion: DEBUG */
/* ****************************************************************************** */